
:root {
    --border: rgb(3, 169, 244);
    
    --g1: rgb(98, 0, 234);
    --g2: rgb(236, 64, 122);
    --g3: rgb(253, 216, 53);
}

body {
    background-color: rgb(20, 20, 20);
    display: grid;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    place-items: center;
}

.card {
    aspect-ratio: 1/1.6;
    border: 0.5vmin solid var(--border);
    cursor: pointer;
    position: relative;
    width: 56vmin;
}

.card::before {
    background: linear-gradient(
                130deg,
                transparent 0% 33%,
                var(--g1) 60%,
                var(--g2) 83.5%,
                var(--g3) 100%
    );
    background-position: 0% 0%;
    background-size: 300% 300%;
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: background-position 350ms ease,
                transform 100ms ease;
    z-index: 1;
}
.card:hover::before {
    background-position: 100% 100%;
    transform: scale(1.08,1.03);
}

.card-content {
    background: radial-gradient(
                rgba(255, 255, 255, 0.2) 8%,
                transparent 8%
    );
    background-position: 100% 100%;
    background-size: 5vmin 5vmin;
    position: relative;
    height: 100%;
    width: 100%;
    transition: background-position 350ms ease;
    z-index: 2;
}
.card:hover > .card-content {
    background-position: 80% 100%;
}

.card-content-block {
    padding: 5vmin;
    height: (100% - 10vmin);
    width: (100% - 10vmin);
}

.card-subtitle-word {
    display: inline-block;
    margin: 0vmin 0.3vmin;
    position: relative;
    transform: translateY(40%);
    transition: none;
    opacity: 0;
}

.card:hover > .card-content > .card-content-block > .card-subtitle > .card-subtitle-word {
    transform: translateY(0%);
    transition: opacity 0ms, transform 200ms cubic-bezier(0.90, 0.06, 0.15, .90);
    opacity: 1;
}

.card-title, 
.card-subtitle {
    color: white;
    font-family: Roboto mono, sans-serif;
    font-weight: 400;
    margin: 0px;
}

.card-title {
    font-size: 5.5vmin;
}

.card-subtitle {
    font-size: 3vmin;
    margin-top: 2vmin;
}

.card-icon {
    position: absolute;
    left: 0px;
    bottom: 0px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 7vmin;
    margin: 5vmin;
    z-index: 2;
    transition: color 250ms ease;
}

.card:hover > .card-content > .card-icon {
    color: rgba(255, 255, 255, 1);
}